body {
    background-color: rgb(32, 155, 204);
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

form {
    margin-inline-start: 2.5em;
  }
  
  input {
    background-color: #888;
    color: rgb(255, 255, 255)
    
  }


